In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv('AHE_3V_IP_RawData.IP', delim_whitespace=True, header=None)
df.columns = ['a','Gate_Voltage','c','d','e','Hall_Voltage','g','h','i','Field']
df1 = df.loc[:,['Field','Hall_Voltage','Gate_Voltage']]
df_new = df1.sort_values(by=['Gate_Voltage']).reset_index(drop=True)

In [79]:
df_new

            Field  Hall_Voltage  Gate_Voltage
0    -1027.090549    -21.617966          -4.0
1    -1027.235627    -21.634315          -4.0
2    -1025.735497    -21.895876          -4.0
3    -1026.744604    -21.820334          -4.0
4    -1026.673198    -21.563841          -4.0
...           ...           ...           ...
4801  1022.305012     -0.338943           4.0
4802  1022.974014     -0.169821           4.0
4803  1023.062587      0.016214           4.0
4804  1022.638083      0.020719           4.0
4805  1022.540092      0.095699           4.0

[4806 rows x 3 columns]

In [100]:
df_new.Gate_Voltage.value_counts().sort_index() # Number of duplicates in Gate_Voltage

-4.00     6
-3.98    12
-3.96    12
-3.94    12
-3.92    12
         ..
 3.92    12
 3.94    12
 3.96    12
 3.98    12
 4.00    12
Name: Gate_Voltage, Length: 401, dtype: int64

In [80]:
df_new[df_new['Gate_Voltage'].duplicated() == False] # to identify how many duplicates are there in Gate_Voltage

            Field  Hall_Voltage  Gate_Voltage
0    -1027.090549    -21.617966         -4.00
6    -1021.099210    -21.898699         -3.98
18   -1020.701170    -21.965780         -3.96
30   -1017.700791    -21.778630         -3.94
42   -1007.633805    -22.004117         -3.92
...           ...           ...           ...
4746  1009.641051      0.117685          3.92
4758  1016.453385      0.209589          3.94
4770  1013.069391      0.079911          3.96
4782  1020.166397      0.094006          3.98
4794  1026.604533      0.021863          4.00

[401 rows x 3 columns]

In [81]:
df_new.loc[df_new['Gate_Voltage']==1.5] # filter specific Gate_Voltage

           Field  Hall_Voltage  Gate_Voltage
3294  431.614816     20.444493           1.5
3295  433.593959     23.150445           1.5
3296  384.332746     26.628738           1.5
3297  432.091057     19.691337           1.5
3298  431.648523     21.194270           1.5
3299  431.899250     21.949126           1.5
3300  384.481669     28.088251           1.5
3301  384.366512     27.150187           1.5
3302  384.745985     27.120342           1.5
3303  384.472966     25.851313           1.5
3304  383.340269     28.927111           1.5
3305  432.557732     21.415257           1.5